.list {
	list-style: none;
	overflow: hidden;
}
.share-item {
	float: left;
	margin-left: 4px;
}
.share-item a {
	display: block;
}
.share-item i {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../images/icons-share.fw.png") 0 0 no-repeat;
	border-radius: 2px;
}

.share-item .share-qzone {
	background-position: -38px 0;
}

.share-item .share-wb {
	background-position: -76px 0;
}

.share-item .share-wx {
	background-position: -114px 0;
}

.custom-share-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	color: #fff;
	font-size: .28rem;
	text-align: right;
	opacity: .3;
	z-index: 1;
}