<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue.js测试</title>
</head>
<body>
	<div id="app1">{{ message }}</div>
	<div id="app2">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
	<div id="app3">
		<ul>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ul>
	</div>
	<div id="app4">
		<input v-model="newTodo" v-on:keyup.enter="addTodo">
		<ul>
			<li v-for="todo in todos">
				<span>{{ todo.text }}</span>
				<button v-on:click="removeTodo($index)">X</button>
			</li>
		</ul>
	</div>
	<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script> -->
	<script src="http://cdn.jsdelivr.net/vue/1.0.17/vue.min.js"></script>
	<script>
	new Vue({
		el: "#app1",
		data: {
			message: "Hello Vue.js"
		}
	});
	new Vue({
		el: "#app2",
		data: {
			message: "Hello Vue.js"
		}
	});
	new Vue({
		el: "#app3",
		data: {
			todos: [
				{	text: "what"	}, 
				{	text: "are"		}, 
				{	text: "you"		}
			]
		}
	});
	new Vue({
		el: "#app4",
		data: {
			newTodo: "",
			todos: [
				{ text: "Add some todos" }
			]
		},
		methods: {
			addTodo: function() {
				var text = this.newTodo.trim();
				if(text) {
					this.todos.push({ text: text});
					this.newTodo = "";
				}
			},
			removeTodo: function(index) {
				this.todos.splice(index, 1);
			}
		}
	});
	</script>
</body>
</html>